<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [ ]:
print("Olá mundo!")

Olá mundo!

Crie uma célua de texto e adicione uma imagem.

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [ ]:
# (A) = R$ 961.56

qtd_total_vendas = 3
ticket_medio = 320.52

A = qtd_total_vendas * ticket_medio
print(f'O valor total das vendas foi de R$ {A}')

O valor total das vendas foi de R$ 961.56

In [ ]:
# (B) = 7

valor_total_vendas = 834.47
ticket_medio = 119.21

B = int(valor_total_vendas / ticket_medio)
print(f'Foram realizadas {B} vendas no total')

Foram realizadas 7 vendas no total

In [ ]:
# (C) = R$ 3075.62

valor_total_vendas = 15378.12
qtd_total_vendas = 5

C = valor_total_vendas / qtd_total_vendas
print(f'O ticket médio de cada venda foi de R$ {C}')

O ticket médio de cada venda foi de R$ 3075.6240000000003

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

In [ ]:
print(cancao.casefold())

roda mundo, roda gigante, roda moinho, roda pião.

In [ ]:
print(cancao.upper())

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.

In [ ]:
print(cancao.swapcase())

rODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [ ]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

---

In [ ]:
selic = noticia[0:5]
print(selic)

# posição do ano
# posicao_ano = noticia.find('6')
# print(posicao_ano)

ano = noticia[62]
print(ano)

Selic
6

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b
print(f'O valor de x é {x}')

O valor de x é True